! Command: show running-config
! device: sw1 (vEOS, EOS-4.22.0F)
!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname sw1
!
spanning-tree mode mstp
!
no aaa root
!
username admin role network-admin secret sha512 $6$xRyG7wirqFxkzc2I$iyTTQTznSQtOndwOwD1fiIy96AjC5A2L4D0ys9KlJOzo9yQNzx.PuXPrRIDD2uUoErDpomFCDyFewIu5/v4Ys1
!
interface Management1
   mtu 1450
   ip address dhcp
   dhcp client accept default-route
!
no ip routing
!
management api http-commands
   protocol http
   no shutdown
!
end

